.project {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project img {
  max-width: 100%;
  height: 100%;
}

  
  h3 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
  }
  
  .project-title {
    position: absolute;
    margin-top: 13.7%;
    color: white;
    background-color: #62615d;
    width: fit-content;
    text-align: center;
    border-radius: 0 5px 0 0;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .secondary {
    width: 100%;
    height: 30vh;
    background-color: #91B2CA;
    border-radius: 10px;
    transition: 200ms;
  }
  
  .secondary img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .secondary:hover {
    cursor: pointer;
    padding-left: 20px;
    transition: 200ms;
  }

  .project-links {
    margin-top: 35px;
  }

  .project-links a {
    color: black;
  }

  .project-links a:hover {
    color: #e9cdcd;
  }