.today-main {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line to center the column horizontally */
  height: 100vh;
}

.today-container {
  display: flex;
  flex-direction: column; /* Add this line to create a column */
  align-items: center;
}

.today-container > *:not(:last-child) {
  margin-bottom: 20px;
}
