.portfolio {
  max-width: 600px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr; /* Update this line */
  grid-gap: 20px;
  justify-items: center;
  max-width: 1000px;
}

h2 {
  text-align: center;
}
