.delete-btn {
    background-color: rgb(189, 55, 55);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .cancel-btn {
    background-color: rgb(212, 185, 150);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
  }
  
  .input-box {
    border-radius: 5px;
    border: solid darkshadow;
    padding: 5px;
  }
  
  .save-event-button {
    margin-right: 10px;
  }
  
  #add-event-button {
    background-color: rgb(37, 88, 160);
    border-radius: 5px;
    border: none;
    color: white;
    margin-right: 10px;
  }
  
  #update-event-button {
    background-color: rgb(77, 182, 147);
    border: none;
    border-radius: 5px;
  }
  