.journal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.journal-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.entry-form {
  display: flex;
  margin-bottom: 20px;
}

.entry-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
  height: 200px;
  /* Set the desired height here */
  box-sizing: border-box;
  /* Include padding in the total height */
  line-height: normal;
  /* Reset line-height */
  vertical-align: text-top;
  /* Align the text at the top of the input box */
  overflow-y: auto;
  /* Enable vertical scrolling when content exceeds the height */
}

.add-entry-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #91B2CA;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.entry-list {
  list-style: none;
  padding: 0;
  text-align: start;
  justify-content: start;
}

.entry-item {
  margin-bottom: 20px;
  position: relative;
}

.entry-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right,
      #B5DDA4 0%,
      #FFFEAD 5%,
      #B5DDA4 10%,
      #FFFEAD 15%,
      #B5DDA4 20%,
      #FFFEAD 25%,
      #B5DDA4 30%,
      #FFFEAD 35%,
      #B5DDA4 40%,
      #FFFEAD 45%,
      #B5DDA4 50%,
      #FFFEAD 55%,
      #B5DDA4 60%,
      #FFFEAD 65%,
      #B5DDA4 70%,
      #FFFEAD 75%,
      #B5DDA4 80%,
      #FFFEAD 85%,
      #B5DDA4 90%,
      #FFFEAD 95%,
      #B5DDA4 100%
      /* transparent 25%,
            transparent 50%,
        transparent 75%,
            transparent 100% */
            );
}

.entry-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

.entry-date {
  font-weight: bold;
  color: #333;
}

.entry-text {
  cursor: pointer;
}

.edit-entry-button {
  background-color: #B5DDA4;
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.update-entry-button{
  background-color: #91B2CA;
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-entry-button {
  background-color: #D69D9A;
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}